PORT=8080
FRONTEND_URL = http://localhost:5173
OLLAMA_ENDPOINT = http://localhost:11434
OLLAMA_MODEL = llama3.2
OLLAMA_EMBEDDING_MODEL = nomic-embed-text
OLLAMA_TRANSLATION_MODEL = qwen2.5
QDRANT_PORT = 6333


#For the connection with the postgres server
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_NAME=ragdb
