/* From Uiverse.io by Galahhad */ 
.search-label {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  border: 1px solid transparent;
  border-radius: 30px;
  overflow: hidden;
  background: #1d1d1f;
  padding: 9px;
  cursor: text;
  width: 80%;
  padding: 12px;
  margin-left: 10px;
  color: white;
}

.search-label:hover {
  border-color: rgb(48, 44, 44);
}

.search-label:focus-within {
  background: #000000;
  border-color: rgb(29, 27, 27);
}

.search-label textarea {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  color: rgb(236, 230, 230);
}

.search-label textarea:focus+.slash-icon,
.search-label textarea:valid+.slash-icon {
  display: none;
}

/* .search-label input:valid~#arrowup {
  display: block;
} */

.search-label textarea:valid {
  width: calc(100% - 22px);
  transform: translateX(20px);
}

#searchBar-box{
    width: 100%;
    display: flex;
    justify-content: center;

}
#searchBar-box textarea{
    width: 70%;
    font-size: 20px;
}
#searchBar-box button{
    margin-left: 20px;
}

#arrowup{
    margin-top: 5px;
    margin-left: 20px;
    border: 1px solid rgb(180, 17, 17);
    padding: 8px;
    border-radius: 50%;
    cursor:pointer;
}

#arrowup:hover{
    background-color: black;
    color: white;
    transition: background-color 0.4s ease, width 0.4s ease;
    border: 1px solid white;
}
